<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ADMIN/IdeaProjects/Cambian">
        <classes>
            <class name="org.cambian.Login"></class>
            <class name="org.cambian.HelloWorrld"></class>
            <class name="org.cambian.Logout"></class>
        </classes>
    </test>
</suite>